body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
}

header {
    text-align: center;
    padding: 20px;
    flex-shrink: 0;
    height: 600px;
}

.text-header {
    margin: 20% auto;
}

.main {
    padding: 20px;
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.photos img {
    width: calc(50% - 10px);
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
}